	
	
	
	
	.box-container{

		min-height:100vh;

		display:flex;

		align-items:center;

		justify-content:center;

		background:#222;

	}
	
	
	
	.body{
		border-radius:15px;
		background:#ccc;
		height:260px;
		width:600px;
		box-shadow:1px 1px  0 blue;
		position:absolute;
		
	}
	
	.body select{
		background:red;
		color:#fff;
	}
	
	
	
	.body select:hover{
		background:blue;
		color:red;
		
		
	}
		
	.image{
		border:2px solid #000;
		width:130px;
		height:130px;
		margin-left:15px;
		margin-top:15px;
	}
	
	
	
	
	.image img{
		width:130px;
		height:130px;
		margin-left:15px;
		margin-top:15px;
		
	}
	
	
	
	
	
	.body .h hr{
		width:20px;
		height:230px;
		color: solid ;
		position:absolute;
		top:10px;
		left:240px;
	}
	
	
	
	
	
	
	
	.contact{
		margin-left:14px;
		line-height:1px;
		
	}
	
	.contact p{
		font-size:26px;
		color:red;
		text-shadow:2px 2px #fff;
		
	}
	
	
	.contact span{
		color:blue;
		
	}
	
	.contact span:hover{
		color:cyan;
	}
	
	
	.body .address{
		position:absolute;
		top:20px;
		right:40px;
		
		
		
	}
	
	
	.body .address h3:hover{
		color:#e6a64c;
		
	}
	
	
	
	.body .icons{
		position:absolute;
		top:195px;
		right:130px;
		
		
		
	}
	
	.body .icons img:hover{
		background:#fff;

	}
	
	
	.body .icons img{
		width:28px;
		height:28px;
		border-radius:50%;
		border:1px solid blue;
		padding:4px;
		margin:4px;
	}
	
	
	
	
	.body .sig img{
		width:50px;
		height:35px;
		position:absolute;
		top:200px;
		left:510px;
		
		
	}
	
	
	@media(max-width:650px){

		

		

		.body{

			flex-flow: column;
			
			width:80%;
			height:500px;

		}
		
		
		.body .address{
			margin-top:55%;
			
		}
		
		
		.body .h hr{
			position:absolute;
			top:5px;
			left:70%;
			
		}
		
		
		
		
		.body .image{
			margin-left:15px;
			margin-top:10px;
			
		}
		
		
		
		
		.body .sig img{
			position:absolute;
			top:81%;
			left:55%;
			
			
		
		}
		
		
		
		.body .icons{
			position:absolute;
			top:80%;
			left:25%;
			display:flex;
		
		}
		
		.body .icons img{
			margin:5px;
			
		}
	
		
		
		
	}

	
	